body {
  background-color: aqua;
}
.Direction {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Search {
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
}